# Pandas - a widely use open source python library used in data analysis.

import pandas as pd #import pandas library

### Two Main Data Types
- Series
- Data Frame

In [8]:
# Series = one-dimensional
series = pd.Series(["BMW", "Toyota","Hero", "Honda"])

In [7]:
series

0       BMW
1    Toyota
2      Hero
3     Honda
dtype: object

In [16]:
colours = pd.Series(["Red","Blue","Orange", "Black"])

In [17]:
colours

0       Red
1      Blue
2    Orange
3     Black
dtype: object

In [18]:
# DataFrame = two-dimensional
car_data = pd.DataFrame({"Car Manufacturer": series, "Colour": colours})
car_data

  Car Manufacturer  Colour
0              BMW     Red
1           Toyota    Blue
2             Hero  Orange
3            Honda   Black

In [21]:
# Import data
car_sales = pd.read_csv("data/car-sales.csv") #read_csv function import and read the csv file.

In [22]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [26]:
# Exporting a dataframe
car_sales.to_csv("exported_car_sales.csv", index=False)

In [27]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00